Homework 1

In [38]:
import pandas as pd
import numpy as np

Display dataset and explain attributes

In [39]:
ramen_reviews = pd.read_csv('ramen-ratings.csv', index_col = 0)
ramen_reviews.shape
ramen_reviews.head()

,Brand,Variety,Style,Country,Stars,Top Ten
Review #,,,,,,
2580,New Touch,T's Restaurant Tantanmen,Cup,Japan,3.75,NaN
2579,Just Way,Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...,Pack,Taiwan,1,NaN
2578,Nissin,Cup Noodles Chicken Vegetable,Cup,USA,2.25,NaN
2577,Wei Lih,GGE Ramen Snack Tomato Flavor,Pack,Taiwan,2.75,NaN
2576,Ching's Secret,Singapore Curry,Pack,India,3.75,NaN

#About dataset

เป็นดาต้าเซตเกี่ยวกับรีวิวผลิตภัณฑ์ราเมนของหลายๆประเทศ และหลากหลายแบรนด์

#Attributes
- Review# คือ id ของการรีวิวราเมนของแต่ละแบรนด์จากนานาประเทศ
- Brand คือ ชื่อแบรนด์ของราเมน
- Variety คือ ชื่อเมนูของราเมน 
- Style คือ ประเภทของภาชนะที่ใส่ราเมน หรือ package ว่าเป็นถ้วยหรือซอง
- Country คือ ประเทศที่ผลิต
- Stars คือ จำนวนเรทติ้งที่ให้ คิดเป็นจำนวนดาว สูงสุดที่ 5 
- Top Ten คือ บอกปีที่ติด 10 อันดับ และอันดับที่ติดในปีนั้น

#2) Use these methods to normalize the following group of data: 200,300,400,600,1000 
- (a)min-max normalization by setting min = 0 and max = 1 
- (b)z-score normalization 
- (c)normalization by decimal scaling

In [40]:
# Min-max normalization custom method
def min_max_norm(array):
    min = 0
    max = 0
    normed = [0] * len(array)
    # Find minimum and maximum value from all values
    for i in range(len(array)):
        # Initialize min, max to first element
        if i == 0:
            min = max = array[i]
            continue
        if array[i] > max:
            max = array[i]
        if array[i] < min:
            min = array[i]
    print("Minimum and maximum: ",min,max)
    # Enter formula and append into new array
    # Scaling data between 0 and 1
    for i in range(len(array)):
        normed[i] = (array[i] - min)/(max-min)
    return normed

In [41]:
def z_score(arr):
    mean = sum(arr)/len(arr)
    diff_sum = sum([(val - mean)**2 for val in arr])
    standard_deviation = (diff_sum/(len(arr)-1))**0.5
    print("Standard deviation: ", standard_deviation)
    # Z score formula
    zscores = [(val-mean)/standard_deviation for val in arr]
    return zscores

In [42]:
normed_dec = []
def dec_scale(arr, init_unit=1):
    for i in arr:
        if i/init_unit <= 1:
            normed_dec.append(i/init_unit)
        else:
            normed_dec.clear()
            dec_scale(arr, init_unit*10)
    return normed_dec

In [43]:
data_group = [200,300,400,600,1000]
normalized_data = min_max_norm(data_group)
print("Min-max normalization: ",normalized_data)

Minimum and maximum:  200 1000
Min-max normalization:  [0.0, 0.125, 0.25, 0.5, 1.0]

In [44]:
z_score_data = z_score(data_group)
print("Z-score: ",z_score_data)

Standard deviation:  316.22776601683796
Z-score:  [-0.9486832980505138, -0.6324555320336758, -0.3162277660168379, 0.3162277660168379, 1.5811388300841895]

In [45]:
decimal_scaled_data = dec_scale(data_group)
print("Decimal scaling: ", decimal_scaled_data)

Decimal scaling:  [0.2, 0.3, 0.4, 0.6, 1.0]

#3 x={5.5,2.7,3.2,2.9,4.1,3.3,3.0,2.0,2.5,2.1}, y={3.4,1.9,3.9,3.2,4.0,3.7,2.6,2.5,2,1.9}
- Use PCA to find new dimension of data

In [46]:
def PCA(x):
    xnorm = x - x.mean(axis=0)
    cov = np.dot(xnorm.T, xnorm)/(xnorm.shape[0]-1)
    eigen_value, eigen_vector = np.linalg.eig(cov)
    x_dat = np.dot(eigen_vector.T, xnorm.T)
    variane_ratio = eigen_value/eigen_value.sum()
    cumsum = variane_ratio.cumsum()
    result_table = np.array([eigen_value,variane_ratio,cumsum])
    return x_dat.T, result_table, eigen_vector

In [47]:
data = pd.DataFrame({"x":[5.5,2.7,3.2,2.9,4.1,3.3,3.0,2.0,2.5,2.1],"y":[3.4,1.9,3.9,3.2,4.0,3.7,2.6,2.5,2,1.9]})
data.head()

     x    y
0  5.5  3.4
1  2.7  1.9
2  3.2  3.9
3  2.9  3.2
4  4.1  4.0

In [48]:
data_dat, res_table, ev = PCA(data)
print("Data after PCA: ",data_dat, ",\nResult:", res_table, "\nEigen Vector:", ev)

Data after PCA:  [[ 2.21188745 -0.98211705]
 [-0.93781102 -0.57053527]
 [ 0.63353139  0.76396203]
 [-0.01804627  0.36969492]
 [ 1.42335323  0.32103827]
 [ 0.59832653  0.54314396]
 [-0.28623336 -0.17626816]
 [-1.15734145  0.32490115]
 [-1.04213797 -0.3727579 ]
 [-1.42552854 -0.22106193]] ,
Result: [[1.45523381 0.30365508]
 [0.82735972 0.17264028]
 [0.82735972 1.        ]]
Eigen Vector: [[ 0.81286254 -0.58245557]
 [ 0.58245557  0.81286254]]